p{
    background-color: brown;
}
span{
    background-color: rgb(221, 115, 165);
}
h3{
    background-color: rgb(218, 162, 80);
}
a{
    background-color: rgb(153, 118, 70);
}
b{
    background-color: rgb(98, 48, 114);
}
i{
    background-color: rgb(206, 107, 107);
}
u{
    background-color: rgb(66, 101, 199);
}